<a href="https://colab.research.google.com/github/2303A52158/AIML_2303A52158/blob/main/lab_1_assignment_ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part 1 – Implement Basic Data Structures using Numpy, Pandas

Lists
Arrays
Identify their type using type()
Perform mathematical operations on these datasets created - multiplication, division, poweroff
Combine text with Numpy fuction to generate a textual output - ”Addition of Two: array1 +array 2
Implement np.sin(), log(), log2(), np.exp())

In [ ]:
import numpy as np
lst1=[1,2,3]
array1 = np.array(lst1)
array1

array([1, 2, 3])

In [ ]:
type(lst1)

list

Part 1 – Implement Basic Data Structures using Numpy, Pandas
1. Lists
2. Arrays
3. Identify their type using type()
4. Perform mathematical operations on these datasets created - multiplication, division,
poweroff
5. Combine text with Numpy fuction to generate a textual output - ”Addition of Two:
array1 +array 2
6. Implement np.sin(), log(), log2(), np.exp())

In [ ]:
type(array1)

numpy.ndarray

In [ ]:
import numpy as np
list2=[3,4,5]
array2=np.array(list2)
array2

array([3, 4, 5])

In [ ]:
type(list2)

list

In [ ]:
type(array2)

numpy.ndarray

In [ ]:
print("array2 multiplied by array1: ",array1*array2)
print("array2 divided by array1: ",array2/array1)
print("array2 raised to the power of array1: ",array2**array1)

array2 multiplied by array1:  [ 3  8 15]
array2 divided by array1:  [3.         2.         1.66666667]
array2 raised to the power of array1:  [  3  16 125]

In [ ]:
# sine function
print("Sine: ",np.sin(array1))
# logarithm
print("Natural logarithm: ",np.log(array1))
print("Base-10 logarithm: ",np.log10(array1))
print("Base-2 logarithm: ",np.log2(array1))
# Exponential
print("Exponential: ",np.exp(array1))

Sine:  [0.84147098 0.90929743 0.14112001]
Natural logarithm:  [0.         0.69314718 1.09861229]
Base-10 logarithm:  [0.         0.30103    0.47712125]
Base-2 logarithm:  [0.        1.        1.5849625]
Exponential:  [ 2.71828183  7.3890561  20.08553692]

In [ ]:
list2=[3,2,1]
array2=np.array(list2)
array2

array([3, 2, 1])

In [ ]:
print("Adding two numpy arrays {array1} and {array2} together:", array1+array2)

Adding two numpy arrays {array1} and {array2} together: [4 4 4]

In [ ]:
print(f"Adding two numpy arrays {array1} and {array2} together: {array1+array2}")

Adding two numpy arrays [1 2 3] and [3 2 1] together: [4 4 4]

In [ ]:
people = ['Ann','Brandon','Chen','David','Emily','Farook',
          'Gagan','Hamish','Imran','Julio','Katherine','Lily']
age = [21,12,32,45,37,18,28,52,5,40,48,15]
weight = [55,35,77,68,70,60,72,69,18,65,82,48]
height = [160,135,170,165,173,168,175,159,105,171,155,158]